{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>
            {{ wtf.quick_form(form) }}
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col text-center">
        <p>Забыли пароль?<a href="{{ url_for('auth.reset_password_request') }}">Нажмите, чтобы восставновить</a></p>
        </div>
    </div>
</div>
{% endblock%}
