{% extends 'admin/admin_base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block menu %} {% include 'admin/admin_menu.html' %} {% endblock %}
{% block admin_content %}
    <h1>Административная панель</h1>
        <form class="form-signin" action="" method="post">
            {{ form.csrf_token }}
            <p> {{ form.tag.label }}<br> {{ form.tag(size=32) }}<br> </p>
            <p> {{ form.header.label }}<br> {{ form.header(size=32) }}<br> </p>
            <p> {{ form.url.label }}<br> {{ form.url(size=32) }}<br> </p>
            <p> {{ form.cardtext.label }}<br> {{ form.cardtext(size=32) }}<br> </p>
            <p> {{ form.htmltext.label }}<br> {{ form.htmltext(size=32) }}<br> </p>
            <p>
            <button class="btn btn-block btn-lg btn-primary mt-3" type="submit">Опубликовать объявление</button>
            </p>
        </form>
{% endblock%}
