{% extends 'admin/admin_base.html' %}
{% block menu %} {% include 'admin/admin_menu.html' %} {% endblock %}
{% block admin_content %}
<div class="row">
<h3>Показания №{{indicator.id}}:</h3>
<form action="" method="post" id="form_admin_indicator">
	<label for="form_admin_indicator_cold"><strong>COLD:</strong></label><br>
	<input type="text" value="{{ indicator.cold }}" id="form_admin_indicator_cold"><br>

	<label for="form_admin_indicator_hot"><strong>HOT:</strong></label><br>
	<input type="text" value="{{ indicator.hot }}" id="form_admin_indicator_hot"><br>

	<label for="form_admin_indicator_date"><strong>DATE:</strong></label><br>
	<input type="text" value={{indicator.month}} id="form_admin_indicator_date"><br>

	<label for="form_admin_indicator_user"><strong>USER: {{indicator.owner.login}} {{indicator.owner.apartment}}</strong></label><br>
	<input type="text" value="{{ indicator.user_id }}" id="form_admin_indicator_user"><br>

	<input id="btn_indicator_admin" class="button" type="button" value="Сохранить изменения">
</form>
</div>
{% endblock %}