{% extends 'admin/admin_base.html' %}
{% block body %}onload="brython()"{% endblock %}
{% block menu %} {% include 'admin/admin_menu.html' %} {% endblock %}
{% block admin_content %}
<div class="row">
	<h3>Страница №{{post.id}}:</h3>
	<p>Дата создания: {{ post.date }}</p>
<form action="" method="post" id="form_admin_indicator">
	<label for="form_admin_post_header"><strong>Заголовок:</strong></label><br>
	<input type="text" value="{{ post.header }}" id="form_admin_post_header"><br>

	<label for="form_admin_post_url"><strong>URL:</strong></label><br>
	<input type="text" value="{{ post.url }}" id="form_admin_post_url"><br>

	<label for="form_admin_post_tag"><strong>Тип</strong></label><br>
	<input type="text" value={{post.tag}} id="form_admin_post_tag"><br>

	<label for="form_admin_post_cardtext"><strong>Превью:</strong></label><br>
	<textarea id="form_admin_post_cardtext">{{ post.cardtext }}</textarea><br>

	<label for="form_admin_post_html"><strong>HTML</strong></label><br>
	<textarea id="form_admin_post_html">{% autoescape false %} {{ post.htmltext }} {% endautoescape %}</textarea><br>

	<input id="btn_post_admin" class="button" type="button" value="Сохранить изменения">
</form>
	<p><a href="#" id="delete">удалить</a></p>
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.9.1/brython.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.9.1/brython_stdlib.js"></script>
<script type ='text/python' src="{{url_for('static', filename='brython/brython_admin_post.py')}}"></script>
{% endblock %}
