{% extends 'base.html' %}
{% block body %}onload="brython()"{% endblock %}
{% block content%}
<div class="container">
    <div class="row m-4">
        <h1>Личный кабинет</h1>
        <p>Ваш логин: <span id="login">{{ cur_user.login }}</span></p>
        <p>Квартира: № <span id="room">{{ cur_user.apartment }}</span></p>
        <p>Ваш email: <span id="email">{{ cur_user.email }}</span></p>
        <p>Тел. для связи: <span id="tel">{{ cur_user.phone_number }}</span></p>
        <p id="edit"><small><a href="#">(редактировать)</a></small></p>
    </div>
    <div class="row m-4">
        <h3>Передать показания счетчиков воды:</h3>
        <form class="form-signin" action="" method="post">
            {{ form.csrf_token }}
            <p> {{ form.cold.label }}<br>{{ form.cold(size=32) }}<br> </p>
            <p> {{ form.hot.label }}<br>{{ form.hot(size=32) }}<br> </p>
            <p> {{ form.submit() }}</p>
        </form>
    </div>
    <div class="row m-4">
        <h3>История показаний</h3>
        {% for ind in indicators %}
        <p><strong>{{ ind.month.strftime('%d %B').title() }}</strong> - ХОЛОДНАЯ: {{ ind.cold }} | ГОРЯЧАЯ: {{ ind.hot }}</p>
        {% endfor %}
    </div>
    <div class="row m-4">
        <a href="{{ url_for('main.logout') }}">ВЫЙТИ</a>
    </div>
</div>
{% endblock%}
{% block scripts%}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.9.1/brython.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.9.1/brython_stdlib.js"></script>
<script type ='text/python' src="{{url_for('static', filename='brython/brscript_cabinet.py')}}"></script>
{% endblock %}
