{% extends 'base.html' %}
{% block nav %} {% include 'navpanel.html' %} {% endblock %}
{% block content%}
<div class="container">
    <div class="row m-4">
        <div class="card p-0">
            <h5 class="card-header bg-head text-warning">
                Объявление
            </h5>
            <div class="card-body">
                <h5 class="card-title">Включена новая повестка на будущее собрание жильцов</h5>
                <p class="card-text">В связи с необходимости ремонта лифтов в ближайшее время. Будет поставлен вопрос о ремонте или полной замене на новые.</p>
                <a href="#" class="btn btn-warning btn-sm">Подробнее</a>
            </div>
            <div class="card-footer bg-white text-muted border-0">
                (дата объявления)
            </div>
        </div>
    </div>

        <div class="row m-4">
        <div class="card text p-0">
                <h5 class="card-header bg-head text-warning">
                    Опрос
                </h5>
            <div class="card-body">
                <h5 class="card-title">Голосование по вопросу установки камер в лифте</h5>
                <p class="card-text">Появилась новая услуга от компании, которая обслуживает наши лифты на новую услугу по установке камер.</p>
                <a href="#" class="btn btn-warning btn-sm">Подробнее</a>
            </div>
            <div class="card-footer bg-white text-muted border-0">
                (дата объявления)
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row m-4">
        <nav aria-label="Page navigation example">
          <ul class="pagination navv">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
</div>
{% endblock%}

