{% extends 'base.html' %}
{% block nav %} {% include 'navpanel.html' %} {% endblock %}
{% block content%}
<div class="container">
    {% for post in posts%}
        <div class="row m-4">
            <div class="card p-0">
                <h5 class="card-header bg-head text-warning">
                    {{ post.tag }}
                </h5>
            <div class="card-body">
                <h5 class="card-title">{{ post.header }}</h5>
                <p class="card-text">{{ post.cardtext }}</p>
                {% if post.htmltext %}
                    <a href="{{ url_for('main.page', url=post.url) }}" class="btn btn-warning btn-sm">Подробнее</a>
                {% endif %}
            </div>
            <div class="card-footer bg-white text-muted border-0">
                {{ post.date.strftime('%d.%B %H:%m') }}
            </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="container">
    <div class="row m-4">
        <nav aria-label="Page navigation example">
          <ul class="pagination navv">
              {% if page != 1 %}
            <li class="page-item">
              <a class="page-link" href="{{ prev_url }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a></li>
                {% else %}
                 <li class="page-item disabled">
                <a class="page-link" href="{{ prev_url }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                {% endif %}
            </li>
            {% if page == 1 %}
            <li class="page-item active"><a class="page-link" href="{{ url_for('main.index', page=page) }}">{{page}}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="{{ url_for('main.index', page=page-1) }}">{{page-1}}</a></li>
              {% endif %}

             {% if page == 1 and next_url%}
            <li class="page-item"><a class="page-link" href="{{ url_for('main.index', page=page+1) }}">{{page+1}}</a></li>
              {% elif next_url %}
              <li class="page-item active"><a class="page-link" href="{{ url_for('main.index', page=page) }}">{{page}}</a></li>
              {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">_</a></li>
              {% endif %}


              {% if page == 1 and next_url%}
            <li class="page-item"><a class="page-link" href="{{ url_for('main.index', page=page+2) }}">{{page+2}}</a></li>
              {% elif next_url %}
              <li class="page-item"><a class="page-link" href="{{ url_for('main.index', page=page+1) }}">{{page+1}}</a></li>
              {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">_</a></li>
              {% endif %}

            {% if next_url %}
            <li class="page-item"><a class="page-link" href="{{ next_url }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
                {% else %}
              <li class="page-item disabled"><a class="page-link" href="{{ next_url }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
              {% endif %}
          </ul>
        </nav>
    </div>
</div>
{% endblock%}

